#--- CONFIGURAÇÃO DO FIREBASE (MODELO) ---

#Este arquivo é um modelo. 
#Para usar, copie o conteúdo abaixo para um novo arquivo chamado '.env'e
#preencha os valores após o sinal de '=' com os dados do seu Firebase Console.

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=